@font-face {
    font-family: 'Skygraze';
    src: url('Fuente/Skygraze.otf') format('opentype');
  }

  .navbar-brand {
    font-family: 'Skygraze', sans-serif;

  }

 
  th {
    background-color: #333;
    color: #fff;
    font-weight: bold; 
    text-align: center; 
    padding: 10px; 
}

.tr .rojo {
    background-color: #ff4136;
    color: #fff; 
}


.tr .verde {
    background-color: #2ecc40;
    color: #fff; 
}

.tr .naranja {
  background-color: #ffa500;
  color: #fff; 
}